/* Timeline custom component */



.progress-bar {
  width: 100%;
}

.timeline-card {
  position: relative;
  margin-left: 16px;
}

.form {
  background-color: #ffffff;
  width: 90%;
  max-width: 400px;
  margin: auto;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}

.form_container {
  width: 100%;
  display: grid;
  gap: 1px;
  grid-auto-columns: 100%;
}








.form_cta {
  outline: none;
  position: relative;
  font-family: inherit;
  padding: .7em;
  border-radius: 7em;
  font-size: 1 rem;
  background-color: #4CAF50;
  color: #fff;
  border: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.2);


}


.form_cta:active {


  transform: translateY(5px);

}

.form_cta:active::before {
  transform: translateY(0);

}



.form_cta:hover {
  transition: 0.2;
  background-color: rgb(64, 226, 88);
  box-shadow: 0 0 5px rgb(64, 226, 88);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3), 0px 6px 10px rgba(0, 0, 0, 0.2);
}




.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  top: 16px;
  left: -12px;
  border: 5px solid;
  z-index: 2;
}

.timeline-body {
  border-left: 2px solid #E6E9ED;
}

.timeline-card-primary:before {
  border-color: var(--bs-primary);
}

.timeline-card-info:before {
  border-color: var(--bs-info);
}

.timeline-card-secondary:before {
  border-color: var(--bs-secondary);
}

.timeline-card-success:before {
  border-color: var(--bs-teal);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
}

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.nav-link {
  padding: 0;
  font-size: 1rem;
  line-height: 2.5rem;
  color: inherit;
  opacity: 0.8;
}

.header-social .nav-link {
  font-size: 1.25rem;
}

.nav-link:hover,
.nav-link:focus {
  color: inherit;
  opacity: 1;
}

.nav-item+.nav-item {
  margin-left: 1rem;
}

.cover {
  height: 500px;
}

.cover>img {
  -o-object-fit: cover;
  object-fit: cover;
  width: auto;
}

.progress-bar {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.text-small {
  font-size: 0.85rem;
}

.text-teal {
  color: var(--bs-teal);
}

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }

  .site-nav {
    float: right;
  }
}

@media (max-width: 767px) {

  /* disable animations on mobile */
  [data-aos] {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important;
  }

  .p-5 {
    padding: 2.5rem 2rem !important;
  }

  .portfolio-section .m-5 {
    margin: 2rem 0 1rem !important;
  }

  .portfolio-reverse {
    flex-direction: column-reverse;
  }

  .portfolio-reverse .text-end {

    text-align: start !important;
  }

  /*  .d-print-none{
     
      
     } */
}


@media print {
  [data-aos] {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important;
  }

  body.bg-light {
    background-color: #fff !important;
  }

  .container {
    width: auto;
    max-width: 100%;
    padding: 0;
  }

  .cover {
    height: 360px;
    margin-bottom: 1.5rem;
  }

  .cover>img {
    display: none;
  }

  .shadow-1-strong {
    box-shadow: none !important;
  }

  .resume-container>.my-5 {
    margin: 0 !important;
  }

  .my-5.p-5 {
    padding: 1.5rem 0 !important;
  }

  .about-section {
    padding: 0 !important;
  }

  .skills-section,
  .work-experience-section,
  .education-section,
  .portfolio-section,
  .reference-section,
  .contact-section {
    padding: 0 !important;
  }

  .page-break {
    padding-top: 5rem;
    page-break-before: always;
  }
}



element.style.container {

  color: darkslategrey;

}

.custom-backgraund {
  background-image: url(../images/fondo.jpg);
}


.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
  width: 50%;
}



button {
  position: relative;
  padding: 15px 45px;
  background: #f79a58;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 1px solid #FEC195;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}

button:hover {
  border: 1px solid #f3b182;
  background: linear-gradient(85deg, #FEC195, #fcc196, #fabd92, #fac097, #fac39c);
  animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
  0% {
    background-position: 0% 50%;
  }

  0% {
    background-position: 50% 100%;
  }

  0% {
    background-position: 0% 50%;
  }
}

.icon-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  transform-origin: 0 0;
  transform: rotate(10deg);
  transition: all .5s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}

button:hover .icon-1 {
  animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
  transform: rotate(10deg);
}

@keyframes slay-1 {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 12px;
  transform-origin: 50% 0;
  transform: rotate(10deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-2 {
  animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}

.icon-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  transform-origin: 50% 0;
  transform: rotate(-5deg);
  transition: all 1s ease-in-out;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
}

button:hover .icon-3 {
  animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
  transform: rotate(0);
}

@keyframes slay-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}